/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


/* IMPORTED FONTS */

@font-face {
    font-family: 'ultra';
    src: url('../fonts/serif/ultra-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/sans-serif/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/sans-serif/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* TYPOGRAPHY */

p{
    font-family: roboto, arial, sans-serif;
}

h1, h2, h3, h4 {
    font-family: opensans, helvetica, sans-serif;
    letter-spacing: 0.0325rem;
}

h1{
    font-size: 4rem;
    letter-spacing: 0.125rem;
    transform: rotate(-5deg);
    text-align: center;
}

.highlight {
    display: inline-block;
    font-family: ultra, Georgia, serif;
    letter-spacing: 0.15rem;
    text-shadow: 2px 2px 1px black;
    border: 1px solid black;
    padding: 1.25rem 2rem;
    border-radius: 0.25rem;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    color: #97A4A6;
    background-color: #732D2D;
    box-shadow: .4rem .4rem .3rem -.125rem black;
}

/* GENERAL SETUP AND DEFAULTS */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}


/* LAYOUT */

header {
    padding: 1rem 0rem 1rem 0rem;
}

nav{
    margin-top: 3rem;
}
.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;
}

article {
    grid-column: 1 / 2;
    grid-row: 1;
}

aside {
    grid-column: 2 / 3;
    grid-row: 1;  
    border-left: 2px solid #212426;
    padding: 1.75rem;
}

aside p{
    border-bottom: 2px solid #212426;
    padding: 0rem 0rem 1rem 0rem;
}

.subsection {
    display: flex;
}

footer {
    display: grid;
}

.copy {
    grid-column: 1 / 2;
    text-align: left;
}

.credit {
    grid-column: 2 / 3;
    text-align: right;
}

/* IMAGES AND FIGURES */

img {
    width: 100%;
}

figure {
    margin: 0px;
}

.article-image {
    width: 25%;
    float: left;
    margin-right: 1rem;
}

.subsection figure {
    margin: 0rem 0.4rem;
    background-color: #d9d9d9;

}

.subsection {
    margin: 1rem 0rem;
}

.subsection figcaption {
    padding: 0.5rem 0.5rem;
}

/* LINKS AND NAVIGATION */

a {
    text-decoration: none;
}

nav a {
    display: inline-block;
    padding: 1.25rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: opensans, arial, sans-serif;
    color: #A453A6;
    text-shadow: 1px 1px 1px #212426;
}

nav {
    border-top: 2px solid #A453A6;
    border-bottom: 2px solid #A453A6;
}

nav a:focus, nav a:hover{
    color: #97A4A6;
    background-color: #A453A6;
}

nav a:active {
    color: #A453A6;
    background-color: #97A4A6;
}

button {
  background-color: #732D2D;
  border: 2px solid #212426;
  border-radius: .333rem;
  width: fit-content;
  color: #D9D9D9;
  padding: .25rem 0.5rem;
  font-family: ultra, Georgia, serif;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px #212426;
  font-size: 1.5rem;
}
